**/.DS_Store

**/.vscode

**/ieee-copyright-and-consent-form.pdf
**/unpublished-parts.md
**/*-mail*
**/main.pdf

masters-thesis/documents/turnitin-digital-receipt.pdf
masters-thesis/documents/turnitin-plagiarism-check.pdf
masters-thesis/drawing/drawing-projects/**
masters-thesis/literature/paper-notes.docx
masters-thesis/literature/system-results.docx
masters-thesis/dissertation-proposal.docx
masters-thesis/dissertation-proposal.pdf
masters-thesis/tez-imza-sayfası.pdf
masters-thesis/using-artificial-neural-network-on-anti-spoofing-for-speaker-verification.docx

siu-2018/documents/acceptance-letter.pdf
siu-2018/documents/payment-receipt.pdf
siu-2018/documents/review-result-capture.png
siu-2018/presentation/resources/**

siu-2020/documents/kvkk-form.pdf
siu-2020/documents/notes.md
siu-2020/documents/zoom.pdf
siu-2020/presentation/turkish-rule-based-official-document-type-detection-presentation-video.mp4

slt-2018/presentation/resources/**
