**/.DS_Store

**/.vscode

**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.synctex.gz

**/archive.zip
**/main.pdf

# Master Thesis
Master Thesis/Documents/Turnitin Digital Receipt.pdf
Master Thesis/Documents/Turnitin Plagiarism Check.pdf

Master Thesis/Drawing/Drawing Projects/**

Master Thesis/Literature/Paper Notes.docx
Master Thesis/Literature/System Results.docx

Master Thesis/Dissertation Proposal.docx
Master Thesis/Dissertation Proposal.pdf
Master Thesis/Using Artificial Neural Network on Anti-Spoofing for Speaker Verification.docx

# SIU 2018
SIU 2018/Documents/Acceptance Letter Mail.pdf
SIU 2018/Documents/Acceptance Letter.pdf
SIU 2018/Documents/IEEE Copyright and Consent Form.pdf
SIU 2018/Documents/Paper Submission Confirmation Mail.pdf
SIU 2018/Documents/Payment Receipt.pdf
SIU 2018/Documents/Review Result Capture.png
SIU 2018/Documents/Unused Parts.md

SIU 2018/Presentation/Resources/**

# SIU 2020
SIU 2020/Documents/IEEE Copyright and Consent Form.pdf
SIU 2020/Documents/KVKK Form.pdf
SIU 2020/Documents/Notes.md
SIU 2020/Documents/Unpublished Sections.md
SIU 2020/Documents/Zoom.pdf

SIU 2020/Presentation/Turkish Rule-Based Official Document Type Detection - Presentation Video.mp4

# SLT 2018
SLT 2018/Documents/IEEE Copyright and Consent Form.pdf
SLT 2018/Documents/Paper Submission Confirmation Mail - Short Version.pdf
SLT 2018/Documents/Paper Submission Confirmation Mail.pdf
SLT 2018/Documents/Review Results Mail.pdf
SLT 2018/Documents/Unpublished Sections.md

SLT 2018/Presentation/Resources/**
